{% import 'macros.html' as macros %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<script
			src="{{ url_for('static', filename='tiles.js') }}"
			defer
		></script>
		<link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static', filename='main.css') }}"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static', filename='scrabble.css') }}"
		/>

		<title>{{', '.join(combination)}}</title>
	</head>
	<body>
		{{macros.scrabble_rack("results", "rack")}}
		<a href="/">Go back</a>
		<h1>With the letters {{', '.join(combination)}} you can get:</h1>

		{% for score, words in total_words%}
		<h1>{{score}} points:</h1>
		<!-- {{macros.scrabble_rack(str(score) + "points", "all")}} -->
		{% for word in words %} {{macros.scrabble_rack(word, "all")}} {% endfor
		%} {% endfor %}
	</body>
</html>
